NODE_ENV=development
ISSUER_PORT=3000
PROCESSOR_PORT=3001
DB_HOST=localhost
DB_PORT=5433
DB_NAME=io
DB_USER=postgres
DB_PASSWORD=postgres
DB_SYNCHRONIZE=false
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=io-card-platform
KAFKA_PROCESSOR_GROUP_ID=card-processor-group
CARD_REQUEST_EVENT_RETRY_BATCH_SIZE=50
